<div class="row" style="position: fixed; height: 90%; width: 100%; bottom: 0%;">
    <div class="card col s9 z-depth-5" style="padding: 3%; border-radius: 20px; top: 10%;">
        <center><h4 style="color: #0d4a6b; letter-spacing: .5px; font-size: 40px; transition: .2s ease-out;">Signup</h4></center>
        <form name="signup" method="POST">
            {% csrf_token %}
            <input class="col s12" style="font-size: 17px;" type="text" name="username" placeholder="Username" value="">
            <input type="text" style="font-size: 17px;" class="col s12" name="email" placeholder="Email" value="" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
            <input class="col s12" style="font-size: 17px;" type="password" name="password" placeholder="Password"  required pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$">
            <label for="password" style="font-size: 17px;"> Password Must Contain UpperCase, Number, SpecialChar and at least 8 Chars</label>
            <input class="col s12" style="font-size: 17px;" type="password" name="password2" placeholder="Confirm Password"><p id="check" style="color: red;"></p>
            <input class="btn col s12" style="background-color:  #0d4a6b; font-size: 17px;" type="submit" onclick="return check();" id="signup" name="signup" value="Signup">
            <script type="text/javascript" language="JavaScript">
                function check() {
                var p1 = document.signup.password.value;
                var p2 = document.signup.password2.value;
                    if(p1 == p2)
                    {
                        return true;
                    }else{
                        text = document.getElementById("check");
                        text.innerText = "passwords must match!";
                        return false;
                    }
                }
            </script>
        </form>
    </div>
</div>